{% extends "layout.html" %}


{% block title %}Settings{% endblock title %}
{% block heading %}Settings{% endblock heading %}



{% block content %}
    <div class="container">
        <h3>Category</h3>
        <form method="post" class="api-form">
            {% csrf_token %}
            {{ create_category_form.as_p }}
            <button
                type="submit"
                name="submit_category"
                data-endpoint="{% url 'budget:api_create_category' %}">
                    Save
            </button>
        </form>

        <form method="post" class="api-form">
            {% csrf_token %}
            {{ update_category_form.as_p }}
            <button
                type="submit"
                name="delete_category"
                data-endpoint="{% url 'budget:api_delete_category' %}">
                    Delete
            </button>
            <button
                type="submit"
                name="update_category"
                data-endpoint="{% url 'budget:api_update_category' %}">
                    Save
            </button>
        </form>
    </div>

    <hr>

    <div class="container">

        <h3>Subcategory</h3>
        <form method="post" class="api-form">
            {% csrf_token %}
            {{ create_subcategory_form.as_p }}
            <button
                type="submit"
                name="submit_subcategory"
                data-endpoint="{% url 'budget:api_create_subcategory' %}">
                    Save
            </button>
        </form>

        <br>

        <div class="container">

            <button
                type="button"
                class="btn btn-primary"
                data-bs-toggle="modal"
                data-bs-target="#subcategoryUpdateModal"
                data-bs-whatever="@mdo">
                    Update name
            </button>
            <button
                type="button"
                class="btn btn-primary"
                data-bs-toggle="modal"
                data-bs-target="#subcategoryUpdateParentModal"
                data-bs-whatever="@mdo">
                    Update parent
            </button>
            <button
                type="button"
                class="btn btn-danger"
                data-bs-toggle="modal"
                data-bs-target="#subcategoryDeleteModal"
                data-bs-whatever="@mdo">
                    Delete
            </button>

            <div class="modal fade" id="subcategoryUpdateModal" tabindex="-1" aria-labelledby="subcategoryUpdateModalLabel" aria-hidden="true">
                <div class="modal-dialog">

                    <form method="post" class="api-form">
                        {% csrf_token %}
                        <div class="modal-content">
                            
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="subcategoryUpdateModalLabel">Update subcategory name</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>

                            <div class="modal-body">                    
                                {{ data_json.subcategories|json_script:"subcategories-data" }}                                
                                {{ update_subcategory_form.as_p }}
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button
                                    class="btn btn-primary"
                                    type="submit"
                                    name="update_subcategory"
                                    data-endpoint="{% url 'budget:api_update_subcategory' %}">
                                        Save
                                </button>
                            </div>

                        </div>
                    </form>

                </div>
            </div>

            <div class="modal fade" id="subcategoryUpdateParentModal" tabindex="-1" aria-labelledby="subcategoryUpdateParentModalLabel" aria-hidden="true">
                <div class="modal-dialog">

                    <form method="post" class="api-form">
                        {% csrf_token %}
                        <div class="modal-content">
                            
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="subcategoryUpdateParentModalLabel">Update subcategory name</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>

                            <div class="modal-body">                    
                                <!-- {{ data_json.subcategories|json_script:"subcategories-data" }}                                 -->
                                {{ update_subcategory_parent_form.as_p }}
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button
                                    class="btn btn-primary"
                                    type="submit"
                                    name="update_subcategory"
                                    data-endpoint="{% url 'budget:api_update_subcategory_parent' %}">
                                        Save
                                </button>
                            </div>

                        </div>
                    </form>

                </div>
            </div>

            <div class="modal fade" id="subcategoryDeleteModal" tabindex="-1" aria-labelledby="subcategoryDeleteModalLabel" aria-hidden="true">
                <div class="modal-dialog">

                    <form method="post" class="api-form">
                        {% csrf_token %}
                        <div class="modal-content">
                            
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="subcategoryDeleteModalLabel">Update subcategory name</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>

                            <div class="modal-body">                    
                                <!-- {{ data_json.subcategories|json_script:"subcategories-data" }}                                 -->
                                {{ delete_subcategory_form.as_p }}
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button
                                    class="btn btn-danger"
                                    type="submit"
                                    name="update_subcategory"
                                    data-endpoint="{% url 'budget:api_delete_subcategory' %}">
                                        Delete
                                </button>
                            </div>

                        </div>
                    </form>

                </div>
            </div>
            
        </div>

    </div>
{% endblock content %}


{% block script %}
    {% load static %}
    <script src="{% static 'js/settings.js' %}"></script>
{% endblock script %}
